<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A Friend In Need wants your help!</h1>
    <p>
      One of your fellow city dwellers has just posted a problem!

      <h4> <%= @title %> </h4>

      Please log in and help them resolve this!
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for being a great friend and have a great day!</p>
  </body>
</html>
